*
{
	margin: 0;
	padding: 0;
	font-family: 'Hubballi', cursive;
	font-family: 'Roboto Slab', serif;
	
}
html
{
	scroll-padding-top:2rem;
	scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
	width: .8rem;
}
html::-webkit-scrollbar-track
{
	background:transparent;
}
html::-webkit-scrollbar-thumb
{
	background:#fff;
	border-radius: 5rem;
}
.container
{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("a.jpg");
	background-size: cover;
	background-position: center;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	overflow-x: auto;
	overflow-y: none;
	scroll-behavior: smooth;
}
.navbar
{
	height: 12%;
	display: flex;
	align-items: center;
	padding: 35px 0;
	margin: auto;
	justify-content: space-between;
}

.logo
{
	width: 100px;
	cursor: pointer;
}
.menu
{ 
	color: red;
	float: right;
	height: 40px;
	width: 40px;
	border border-radius: 50%;
	display: inline;
	align-items: center;
}

.content
{
	height: 78%;
	display: flex;
	align-items: center;
}
.mid
{
	flex-basis: 80%;
}
h1
{
	color: white;
	font-size: 60px;
	text-align: left;
}
p
{
	color: white;
	font-size: 20px;
}
#btn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}
#btn:hover {
  background-color: #555; 
}
.card
{
	width: 120px;
	transition: transform 0.5s;
	height: 150px;
	color: white;
	z-index=-1;
	display: inline-block;
	border-radius: 10px;
	padding: 10px 15px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;
}
.card1
{
	background-image: url(7.jpg);
}
.card2
{
	background-image: url(13.jpg);
}
.card3
{
	background-image: url(10.jpg);
}
.card4
{
	background-image: url(5.png);
}
.card5
{
	background-image: url(4.jpg);
}
.card6
{
	background-image: url(9.png);
}
.card7
{
	background-image: url(11.jpg);
}
.card8
{
	background-image: url(12.png);
}
.card9
{
	background-image: url(8.jpg);
}
.card10
{
	background-image: url(6.jpg);
}
.auto-type
{
	color: skyblue;
}
#aot
{
	z-index:99;
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
	box-sizing: border-box;
	background-repeat: no-repeat;
}
#fm
{
	
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
	box-sizing: border-box;
	
}
#hxh
{
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
}
#op
{
	
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
}
#ns
{
	
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
}
#ds
{
	
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
}
#jk
{
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
}
#fs
{
	
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
}
#dn
{
	
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
}
#dbz
{
	
	padding-left:10px;
	background-color: black;
	background-position: center;
	background-size: cover;
	cursor: pointer;
	border-radius: 15px;
}
